<style TYPE="text/css">
<!--
   
  rand A:link {
          text-decoration: none;
          }

   A:active {
          text-decoration: none;
          color: red;
            }

   A:visited {
             }

   A:hover {
          text-decoration: none;
          color: red;
-->
</style>